<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ITweakMyBuild Rules" Description=" All rules as errors with some custom exceptions" ToolsVersion="14.0">
  <Include Path="allrules.ruleset" Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />

    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA2204" Action="None" />

  </Rules>
</RuleSet>