<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension">
  <Product Id="*" Name="ITweakMyBuild" Language="1033" Version="1.0.0.0" Manufacturer="tom-englert.de" UpgradeCode="F39B88DA-FC9E-4173-BEA4-4BEF4B30B4AF">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="ProductIcon" SourceFile="$(var.ITweakMyBuild.TargetDir)\Resources\Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="VSIX" />
      <ComponentGroupRef Id="ImportAfterTargets" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Company" Name="tom-englert.de" >
          <Directory Id="INSTALLFOLDER" Name="$(var.ITweakMyBuild.TargetName)" />
        </Directory>

        <Directory Id="MSBuild" Name="MSBuild">
          <Directory Id="_4" Name="4.0">
            <Directory Id="MicrosoftCommonTargets_4" Name="Microsoft.Common.Targets">
              <Directory Id="ImportAfterTargets_4" Name="ImportAfter" />
            </Directory>
          </Directory>
          <Directory Id="_12" Name="12.0">
            <Directory Id="MicrosoftCommonTargets_12" Name="Microsoft.Common.Targets">
              <Directory Id="ImportAfterTargets_12" Name="ImportAfter" />
            </Directory>
          </Directory>
          <Directory Id="_14" Name="14.0">
            <Directory Id="MicrosoftCommonTargets_14" Name="Microsoft.Common.Targets">
              <Directory Id="ImportAfterTargets_14" Name="ImportAfter" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="VSIX">
      <Component Id="VSIXComponent" Guid="F8F43870-6A4F-4298-A0DA-D7D9F78F227F" Directory="INSTALLFOLDER">
        <VSExtension:VsixPackage File="VSIXFile" PackageId="ITweakMyBuild.tom-englert.de.92edc38f-1498-4327-8078-6ff3cec52067" Vital="yes" Permanent="no" />
        <File Id="VSIXFile" Name="$(var.ITweakMyBuild.TargetName).vsix" Source="$(var.ITweakMyBuild.TargetDir)\$(var.ITweakMyBuild.TargetName).vsix" />
      </Component>      
    </ComponentGroup>
    
    <ComponentGroup Id="ImportAfterTargets">
      <Component Id="Targets_4" Guid="9045DA89-93FB-4697-840B-2A938306FD73" Directory="ImportAfterTargets_4">
        <File Id="ITweakMyBuild.ImportAfter.Targets_4" Source="tom-englert.de.ITweakMyBuild.ImportAfter.targets" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Targets_12" Guid="7BB23DA1-A8CE-4880-BAE3-0253C97EF876" Directory="ImportAfterTargets_12">
        <File Id="ITweakMyBuild.ImportAfter.Targets_12" Source="tom-englert.de.ITweakMyBuild.ImportAfter.targets" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="Targets_14" Guid="BEA271A8-01BD-4C5C-B8BB-B13A3E814CE0" Directory="ImportAfterTargets_14">
        <File Id="ITweakMyBuild.ImportAfter.Targets_14" Source="tom-englert.de.ITweakMyBuild.ImportAfter.targets" Checksum="yes" KeyPath="yes" Vital="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>